:host {
  display: block;
  background-color: #dfe6e9;
  padding: 30px 0;
}
.homepage__wrapper {
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homepage__wrapper {
  margin-bottom: 20px;
}
