@import "../../../assets/styles/variables";

:host {
  display: block;
}
.spaceship-list-filters {
  display: flex;
  background-color: #fff;
  padding: 10px 20px;
  @media (max-width: $screen-s-max) {
    flex-direction: column;
  }
}
app-field-select {
  margin-top: -1px;
}
app-field-select,
app-field-input {
  @media (max-width: $screen-s-max) {
    margin-bottom: 20px;
  }
}
